body {
  /*padding-top: 3.5rem;*/
}
.starter-template {
  	padding: 3.5rem 1.5rem;
  	height:400px;
  	text-align: center;
}
.starter-template h1{
	 font-size: 100px;
    	 font-weight: 700;
    	 letter-spacing: -2px
}

.starter-template .lead{
	 font-size: 30px;
    	 font-weight: 700;	
}

#content{
	background: white;
}


footer{
	padding: 1rem;	
}

footer.main-footer{
	background: #0F0F0F;
}
